/* General Hamburger Menu - hidden by default */
.hamburger {
    width: 20px;
    height: 16px;
    display: none   ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 3px;
  }
  
  .line {
    height: 3px;
    background-color: var(--textColor);
    width: 100%;
    border-radius: 2px;
  }
  
  /* General Nav links - visible only on desktop by default */
  .link  {
   cursor: pointer;
  }
  
  /* Responsive Menu logic */
  .responsiveMenu {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bg, white);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  
  
  @media screen and (max-width: 640px) {
    .hamburger {
      display: flex;
    }
    .link {
      display: none;
    }
  }