/* .container {

} */

.title{
    margin: 50px 0px;

}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.category{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    width: 15%;
    height: 80px;
    justify-content: center;
    border-radius: 10px;
}

.category.misc{
    background-color: rgb(173, 80, 26);
}

.category.game{
    background-color: rgb(173, 26, 166);
}
.category.food{
    background-color: rgb(168, 173, 26);
}
.category.travel{
    background-color: rgb(33, 173, 26);
}   

.image {
    border-radius: 50%;

}

@media screen and (max-width : 1280px) {
    .category{
        width: 20%;
    }
}

@media screen and (max-width : 1024px) {
    .category{
        width: 25%;
    }
}
@media screen and (max-width : 768px) {
    .category{
        width: 45%;
    }
}

@media screen and (max-width : 768px) {
    .category{
        width: 45%;
    }
}

@media screen and (max-width : 640px) {
    .category{
        width: 100%;
    }
}