.container {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
  

.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 1px;
}